fastapi==0.115.8
uvicorn[standard]==0.34.0
pydantic[email]==2.10.6
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
pymongo==4.11.1
openai==1.63.2
stripe==11.5.0
google-auth==2.38.0
httpx==0.28.1
